{{ partial "header.html" . }}

{{ if eq .Type "index" }}
{{ partial "index_nav.html" . }}
{{ else }}
{{ partial "nav.html" . }}
{{ end }}

{{ if eq .Type "index" }}
{{.Content}}
{{ else if eq .Type "leftnav" }}
<!-- ====== OVERVIEW START  ======  -->
<section class="sections lang" id="lang">
    <div class="container">    
        <div class="row">   
            <!-- OVERVIEW CONTENT START -->
            <div class="title">
                <!-- LEFT COULMN -->
                <div class="col-md-3 box" style="margin-left:5px">
                    <h4>Concepts</h4>
                    <hr>
                    <ul>
                        <li><p><a href="/tags">Tags</a></p></li>
                        <li><p><a href="/stats">Stats</a></p></li>
                        <li><p><a href="/traces">Traces</a></p></li>
                        <li><p><a href="/exporters">Exporters</a></p></li>
                        <li><p><a href="/zpages">Z-Pages</a></p></li>
                    </ul>
                    <hr>
                    <h4>Quickstart</h4>
                    <hr>
                    <ul>
                        <li><p><a href="/cpp">C++</a></p></li>
                        <li><p><a href="/erlang"> Erlang</a></p></li>
                        <li><p><a href="/go">Go</a></p></li>
                        <li><p><a href="/java">Java</a></p></li>
                        <li><p><a href="/php">PHP</a></p></li>
                        <li><p><a href="/python">Python</a></p></li>
                        <li><p><a href="/ruby">Ruby</a></p></li>
                    </ul><hr>
                    <ul>
                        <li><a href="/troubleshooting">Troubleshooting</a></li>
                        <li><a href="/gogrpc">gRPC Integrations</a></li>
                    </ul><hr><br />
                </div>
                <!-- END LEFT COULMN -->

                <!-- CENTER COULMN -->
                <div class="col-md-8 box" style="margin:0px 22px 0px 5px;">
                    <h1>{{.Title}}</h1>
                    <div class="content">
                        {{.Content}}
                    </div>
                    {{ partial "contribute.html" . }}
                </div>
                <!-- END CENTER COULMN -->
                <!-- OVERVIEW CONTENT END -->
            </div>
        </div>
    </div>
</section>
<!-- ====== OVERVIEW END  ======  -->
{{ else }}
    <!-- ====== START  ======  -->
    <section class="sections lang" id="lang">
        <div class="container">
            <div class="row">   
                <div class="title">
                    <!-- CENTER COULMN -->
                    <div class="col-md-12 box" style="margin:0px 22px 0px 5px;">
                        <h1>{{.Title}}</h1>
                        <div class="content">{{.Content}}</div>
                        {{ partial "contribute.html" . }}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ====== END  ======  -->
{{ end }}

{{ partial "footer.html" . }}
