
<!doctype html>

<html>
<head>
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">
  <meta name="theme-color" content="#4F7DC9">
  <meta charset="UTF-8">
  <title>Setup and Configure Google Stackdriver</title>
  <script src="/bower_components/webcomponentsjs/webcomponents-lite.js"></script>
  <link rel="import" href="/elements/codelab.html">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Code+Pro:400|Roboto:400,300,400italic,500,700|Roboto+Mono">
  <style is="custom-style">
    body {
      font-family: "Roboto",sans-serif;
      background: var(--google-codelab-background, #F8F9FA);
    }
  </style>

</head>
<body unresolved class="fullbleed">

  <google-codelab title="Setup and Configure Google Stackdriver"
                  environment="web"
                  feedback-link="">

      <google-codelab-step label="Overview of the tutorial" duration="1">
        <p>This tutorial shows you how to setup and configure Google Stackdriver.</p>
<p>Requirements:</p>
<ul>
<li>A cloud provider based project; it should support Stackdriver Monitoring and Tracing — we&#39;ll use Google Cloud Platform for this example</li>
</ul>


      </google-codelab-step>

      <google-codelab-step label="Create a Project on Google Cloud" duration="1">
        <p>If you haven&#39;t already created a project on Google Cloud, <a href="https://console.cloud.google.com/projectcreate" target="_blank">you can do so here</a>.</p>


      </google-codelab-step>

      <google-codelab-step label="Enable the Stackdriver APIs" duration="1">
        <p>You will be enabling these two APIs:</p>
<ul>
<li>Stackdriver Monitoring API</li>
<li>Stackdriver Trace API</li>
</ul>

<a href="https://console.cloud.google.com/apis/library?q=stackdriver" target="_blank">
  <paper-button href="test.com" class="colored x-scope paper-button-0" raised="" role="button" tabindex="0" animated="" aria-disabled="false" elevation="1">
    Enable APIs
    <paper-ripple class="style-scope paper-button">
        <div id="background" class="style-scope paper-ripple"></div>
        <div id="waves" class="style-scope paper-ripple"></div>
    </paper-ripple>
  </paper-button>
</a>

<p><img alt="img" src="/img/b542908e53a423a4.png"><img alt="img" src="/img/8258b5b946231f1.png"></p>


      </google-codelab-step>

      <google-codelab-step label="Enable Application Default Credentials" duration="1">
        <p>Please make sure to enable Application Default Credentials for authentication.</p>

        <a href="https://developers.google.com/identity/protocols/application-default-credentials" target="_blank">
          <paper-button href="test.com" class="colored x-scope paper-button-0" raised="" role="button" tabindex="0" animated="" aria-disabled="false" elevation="1">
            ENABLE DEFAULT CREDENTIALS
            <paper-ripple class="style-scope paper-button">
                <div id="background" class="style-scope paper-ripple"></div>
                <div id="waves" class="style-scope paper-ripple"></div>
            </paper-ripple>
          </paper-button>
        </a>

      </google-codelab-step>

  </google-codelab>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-49880327-14', 'auto');

    (function() {
      var gaCodelab = '';
      if (gaCodelab) {
        ga('create', gaCodelab, 'auto', {name: 'codelab'});
      }

      var gaView;
      var parts = location.search.substring(1).split('&');
      for (var i = 0; i < parts.length; i++) {
        var param = parts[i].split('=');
        if (param[0] === 'viewga') {
          gaView = param[1];
          break;
        }
      }
      if (gaView && gaView !== gaCodelab) {
        ga('create', gaView, 'auto', {name: 'view'});
      }
    })();
  </script>

</body>
</html>
