<section class="t-header" id="home" data-scroll-index="0">
	<div class="header-overlay">
		<!-- ====== NAVGITION ======  -->
		<nav class="navbar land-nav navbar-fixed-top">
			<div class="container">
				<div class="row">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse" aria-expanded="false" style="margin-right:15px">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						</button>

						<!-- NAV LOGO -->
						<a class="logo navbar-brand" href="/">
						  <ul>
						    <li><img src="/img/logo-sm.svg" />Open<span>Census</span></li>
						  </ul>
						</a>
					</div>

					<!-- Collect the nav links, and other content for toggling -->
					<div class="collapse navbar-collapse" id="collapse">

						<!-- links -->
						<ul class="nav navbar-nav navbar-right" id="navbar">
							<li><a href="/overview">Overview</a></li>
							<!-- LANGUAGES NAV DROPDOWN  -->
								<ul class="nav navbar-nav">
									<li class="dropdown">
									  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Languages<b class="caret"></b></a>
									   <ul class="dropdown-menu">
										  <div class="row">
											 <div class="col-sm-4">
												<ul class="multi-column-dropdown">
													<li style="droplist"><a href="/cpp">C++</a></li>
													<li style="droplist"><a href="/go">Go</a></li>
												</ul>
											 </div>
											 <div class="col-sm-4">
												<ul class="multi-column-dropdown">
													<li style="droplist"><a href="/erlang">Erlang</a></li>
													<li style="droplist"><a href="/java">Java</a></li>
													<li style="droplist"><a href="/ruby">Ruby</a></li>
												</ul>
											 </div>
											 <div class="col-sm-4">
												<ul class="multi-column-dropdown">
													<li style="droplist"><a href="/php">PHP</a></li>
													<li style="droplist"><a href="/python">Python</a></li>
												</ul>
											 </div>
										  </div>
									   </ul>
								   </li>   
								</ul>
								<!-- END LANGUAGES NAV DROPDOWN -->    
								<li><a href="/docs">Docs</a></li>
								<li><a href="/roadmap">Roadmap</a></li>
								<li><a href="/blog">Blog</a></li>
								<li><a href="/faq">FAQ</a></li>
								<li><a href="https://github.com/census-instrumentation">GitHub</a></li>
								<li><a href="/about">About</a></li>
							</ul>
						</div><!-- /.navbar-collapse -->

					</div>
				</div><!-- /.container -->
			</nav>
			<!-- ====== END NAVGITION ======  -->
</section>