<!-- ====== BRANDING & PARTNERS  ======  -->
<div class="container">
	<div class="row" style="margin:0 0 10px 10px">
		<div class="col-sm-12 box" style="display:flex;flex-wrap:wrap;justify-content:space-between;">
			<div class="col-sm-3 client-card">
			  <img src="/img/stackdriver_logo.svg" alt="Stackdriver logo" width="108" height="auto" />
			</div>
			<div class="col-sm-3 client-card">
			  <img src="/img/prometheus_logo.svg" alt="Prometheus logo" width="108" height="auto" />
			</div>
			<div class="col-sm-3 client-card">
			  <img src="/img/zipkin_logo.svg" alt="Zipkin logo" width="108" height="auto" />
			</div>
			<div class="col-sm-3 client-card">
			  <img src="/img/jaeger_logo.svg" alt="Jaeger logo" width="108" height="auto" />
			</div>
		</div>
	</div>
	<div class="row" style="margin:0 0 0 10px">
		<div class="col-sm-12 box" style="display:flex;flex-wrap:wrap;justify-content:space-between;">
			<div class="col-sm-3 client-card">
			  <img src="/img/cesar_logo.svg" alt="Cesar logo" width="108" height="auto" />
			</div>
			<div class="col-sm-3 client-card">
			  <img src="/img/signalFx_logo.svg" alt="SignalFX logo" width="108" height="auto" />
			</div>
			<div class="col-sm-3 client-card">
			  <img src="/img/datadog_logo.svg" alt="Datadog logo" width="108" height="auto" />
			</div>
			<div class="col-sm-3 client-card">
			  <img src="/img/creative_few_logo.svg" alt="The Creative Few logo" width="108" height="auto" />
			</div>
		</div>
	</div>
  <div class="row" style="margin:0 0 0 10px">
		<div class="col-sm-12 box" style="display:flex;flex-wrap:wrap;justify-content:space-between;">
			<div class="col-sm-3 client-card">
			  <img src="/img/google_logo.svg" alt="Google logo" width="108" height="auto"/>
			</div>
			<div class="col-sm-3 client-card">
			  <img src="/img/microsoft_logo.svg" alt="Microsoft logo" width="108" height="auto" />
			</div>
			<div class="col-sm-3 client-card">
			  <img src="/img/solarwinds_logo.svg" alt="Solarwinds logo" width="108" height="auto" />
			</div>
			<div class="col-sm-3 client-card">
			  <img src="" alt="" />
			</div>
		</div>
	</div>
</div>
