{{ partial "nav.html" . }}
<!-- ====== ABOUT START  ======  -->
<section class="sections lang" id="lang">
	<div class="container">

		<!-- ====== MIDDLE NAVGITION ======  -->
		<div class="row">
			<div class="title">
				<div class="lang-con1 col-sm-12" style="margin-right:20px;">
					<p><a href="https://github.com/census-instrumentation/opencensus-website/blob/master/README.md" target="_blank">Contribution Guidelines</a></p>
					<p> &nbsp; | &nbsp; </p>
					<p><a href="https://github.com/census-instrumentation/opencensus-website/edit/master/content/about.md" target="_blank"><span class="fa fa-github"></span> Edit <b>about.md</b></a></p>
				</div>
			</div>
		</div>
		<!-- ====== END MIDDLE NAVGITION ======  -->
	</div>

	<div class="container">
		<div class="row">   
			<!-- ABOUT CONTENT START -->
			<div class="title">

				<!-- CENTER COULMN -->
				<div class="col-md-10 box" style="margin:0px 22px 0px 5px;">
					<h1>About OpenCensus</h1>
				  <br>
					<!-- COLLAPSIBLE ACCORDIAN START-->
					<div class="accordion">
						<dl>
							<dt>
								<a href="#panel-1" aria-expanded="false" aria-controls="panel-1" class="accordion-title accordionTitle js-accordionTrigger">+ Who is behind OpenCensus?</a>
							</dt>
							<dd class="accordion-content accordionItem is-collapsed" id="panel-1" aria-hidden="true">
								<p>{{.Inner}}</p>
								<br />
							</dd>
						</dl>
						<hr>
					</div>
					<!-- COLLAPSIBLE ACCORDIAN END -->
			   </div>
				<!-- END ACCORDIAN COULMN -->
				<!-- ABOUT CONTENT END -->
			</div>
		</div>
	</div>
</section>
<!-- ====== ABOUT END  ======  -->
{{ partial "footer.html" . }}