{{ partial "nav.html" . }}
        <!-- ====== COMMUNITY START  ======  -->
		<section class="sections lang" id="lang">
            <div class="container">
                <!-- ====== MIDDLE NAVGITION ======  -->
                <div class="row">
                    <div class="title">
                        <div class="lang-con1 col-sm-12" style="margin-right:20px;">
                            <p><a href="https://github.com/census-instrumentation/opencensus-website/blob/master/README.md">Contribution Guidelines</a></p>
                            <p> &nbsp; | &nbsp; </p>
                            <p><a href="https://github.com/census-instrumentation/opencensus-website/edit/master/content/community.md"><span class="fa fa-github"></span> Edit <b>community.md</b></a></p>
                        </div>
                    </div>
                </div>
			</div>
			<!-- ====== END MIDDLE NAVGITION ======  -->
            
            <div class="container">
				<div class="row">   
					<!-- COMMUNITY CONTENT START -->
                    <div class="title">
                        <!-- CENTER COULMN -->
                        <div class="col-md-10 box" style="margin:0px 22px 0px 5px;">   
						  <h1>Community</h1>
						  <br>
                            <div class="comm">
								{{.Inner}}
                            </div>
					    </div>
                        <!-- COMMUNITY CONTENT END -->
                    </div>
                </div>
            </div>
        </section>
        <!-- ====== COMMUNITY END  ======  -->
{{ partial "footer.html" . }}