{{ partial "nav.html" . }}
<!-- ====== SUPPORT START  ======  -->
<section class="sections lang" id="lang">
	<div class="container">

		<!-- ====== MIDDLE NAVGITION ======  -->
		<div class="row">
			<div class="title">
				<div class="lang-con1 col-sm-12" style="margin:0px 20px 105px 0px;">
					<p><a href="https://github.com/census-instrumentation/opencensus-website/blob/master/README.md" target="_blank">Contribution Guidelines</a></p>
					<p> &nbsp; | &nbsp; </p>
					<p><a href="https://github.com/census-instrumentation/opencensus-website/edit/master/content/faq.md" target="_blank"><span class="fa fa-github"></span> Edit <b>faq.md</b></a></p>
				</div>

				<!-- CENTER COULMN -->
				<div class="col-md-12 box" style="margin:0px 22px 0px 5px;">
				  <h1>Frequently Asked Questions</h1>
					{{.Inner}}
				</div> <!-- END CENTER COLUMN -->

			</div> <!-- END TITLE -->
		</div> <!-- END ROW -->
	</div> <!-- END CONTAINER -->
</section>
<!-- ====== SUPPORT END  ======  -->
{{ partial "footer.html" . }}