{{ partial "nav" . }}
<!-- ====== GO gRPC START  ======  -->
<section class="sections lang" id="lang">            
	<div class="container">
		<div class="row">   
			<!-- GO gRPC CONTENT START -->
			<div class="title">

				<!-- CENTER COULMN -->
				<div class="col-md-12 box" style="margin:0px 24px 0px 5px;">
				<h1>OpenCensus for Go gRPC developers</h1>
					{{.Inner}}
				</div>
				<!-- END CENTER COULMN -->
				<!-- GO gRPC CONTENT END -->
			</div>
		</div>
	</div>
</section>
<!-- ====== GO gRPC END  ======  -->
{{ partial "footer.html" . }}