{{ partial "nav.html" . }}
<!-- ====== GLOSSARY START  ======  -->
<section class="sections lang" id="lang">
	<div class="container">
		<!-- ====== MIDDLE NAVGITION ======  -->
		<div class="row">
			<div class="title">
				<div class="lang-con1 col-sm-12" style="margin:0px 20px 105px 0px;">
					<p><a href="https://github.com/census-instrumentation/opencensus-website/blob/master/README.md" target="_blank">Contribution Guidelines</a></p>
					<p> &nbsp; | &nbsp; </p>
					<p><a href="https://github.com/census-instrumentation/opencensus-website/edit/master/content/glossary.md" target="_blank"><span class="fa fa-github"></span> Edit <b>glossary.md</b></a></p>
				</div>

				<!-- CENTER COULMN -->
				<div class="col-md-12 box" style="margin:0px 22px 0px 5px;">
				<h1>Glossary</h1>
				  <br />
					<p>{{.Inner}}</p>
					<br />
			   </div>
				<!-- END CENTER COULMN -->
				<!-- GLOSSARY CONTENT END -->
			</div>
		</div>
	</div>
</section>
{{ partial "footer.html" . }}