{{ partial "nav.html" . }}
<!-- ====== PYTHON START  ======  -->
<section class="sections lang" id="lang">
	<div class="container">

		<!-- ====== MIDDLE NAVGITION ======  -->
		<div class="row">
			<div class="title">
				<div class="lang-con1 col-sm-12" style="margin-right:20px;">
					<p><a href="https://github.com/census-instrumentation/opencensus-website/blob/master/README.md" target="_blank">Contribution Guidelines</a></p>
					<p> &nbsp; | &nbsp; </p>
					<p><a href="https://github.com/census-instrumentation/opencensus-website/edit/master/content/python.md" target="_blank"><span class="fa fa-github"></span> Edit <b>python.md</b></a></p>
				</div>
			</div>
		</div>
		<!-- ====== END MIDDLE NAVGITION ======  -->
	</div>

	<div class="container">
		<div class="row">   
			<!-- PYTHON CONTENT START -->
			<div class="title">

				<!-- LEFT COULMN -->
				<div class="col-md-3 box" style="margin-left:5px">
					<h4>Quickstart</h4>
					<hr>
					<ul>
						<li><p><a href="/cpp">C++</a></p></li>
						<li><p><a href="/erlang"> Erlang</a></p></li>
						<li><p><a href="/go">Go</a></p></li>
						<li><p><a href="/java">Java</a></p></li>
						<li><p><a href="/php">PHP</a></p></li>
						<li><p><a href="/python">Python</a></p></li>
						<li><p><a href="/ruby">Ruby</a></p></li>
					</ul><hr><br>
				</div>
				<!-- END LEFT COULMN -->

				<!-- CENTER COULMN -->
				<div class="col-md-8 box" style="margin:0px 22px 0px 5px;">
				  <h1>Python Quickstart</h1>
					<br />
					<p>{{.Inner}}</p>
					<br /><br />
			   </div>
				<!-- END CENTER COULMN -->
				<!-- PYTHON CONTENT END -->                  
			</div>
		</div>
	</div>
</section>
<!-- ====== PYTHON END  ======  -->
{{ partial "footer.html" . }}