<table data-inner="{{.Inner}}">
  <thead>
    <tr>
	  <th scope="col">Language</th>
	  <th scope="col">Tracing</th>
	  <th scope="col">Stats</th>
    </tr>
  </thead>
  <tbody>
    <tr>
	  <td data-label="Language: &nbsp; "><a href="https://github.com/census-instrumentation/opencensus-cpp" target="_blank">C++</a></td>
	  <td data-label="Tracing: &nbsp; ">Supported</td>
	  <td data-label="Stats: &nbsp; ">Supported</td>
	</tr>
	<tr>
	  <td scope="row" data-label="Language: &nbsp; "><a href="https://github.com/census-instrumentation/opencensus-erlang" target="_blank">Erlang</a></td>
	  <td data-label="Tracing: &nbsp; ">Supported</td>
	  <td data-label="Stats: &nbsp; ">Supported</td>
	</tr>
	<tr>
	  <td scope="row" data-label="Language: &nbsp; "><a href="https://github.com/census-instrumentation/opencensus-go" target="_blank">Go</a></td>
	  <td data-label="Tracing: &nbsp; ">Supported</td>
	  <td data-label="Stats: &nbsp; ">Supported</td>
	</tr>
	<tr>
	  <td scope="row" data-label="Language: &nbsp; "><a href="https://github.com/census-instrumentation/opencensus-java" target="_blank">Java (JVM, OpenJDK, Android)</a></td>
	  <td data-label="Tracing: &nbsp; ">Supported</td>
	  <td data-label="Stats: &nbsp; ">Supported</td>
	</tr>
	<tr>
	  <td scope="row" data-label="Language: &nbsp; "><a href="https://github.com/census-instrumentation/opencensus-node" target="_blank">Node.js</a></td>
	  <td data-label="Tracing: &nbsp; ">Supported</td>
	  <td data-label="Stats: &nbsp; ">In Progress</td>
	</tr>
	<tr>
	  <td scope="row" data-label="Language: &nbsp; "><a href="https://github.com/census-instrumentation/opencensus-php" target="_blank">PHP</a></td>
	  <td data-label="Tracing: &nbsp; ">Supported</td>
	  <td data-label="Stats: &nbsp; ">Planned</td>
	</tr>
	<tr>
	  <td scope="row" data-label="Language: &nbsp; "><a href="https://github.com/census-instrumentation/opencensus-python" target="_blank">Python</a></td>
	  <td data-label="Tracing: &nbsp; ">Supported</td>
	  <td data-label="Stats: &nbsp; ">In Progress</td>
	</tr>
	<tr>
	  <td scope="row" data-label="Language: &nbsp; "><a href="https://github.com/census-instrumentation/opencensus-ruby" target="_blank">Ruby</a></td>
	  <td data-label="Tracing: &nbsp; ">Supported</td>
	  <td data-label="Stats: &nbsp; ">Planned</td>
	</tr>
  </tbody>
</table>