<table data-inner="{{.Inner}}">
  <thead>
    <tr>
	  <th scope="col">Language</th>
	  <th scope="col">Tracing</th>
	  <th scope="col">Stats</th>
    </tr>
  </thead>
  <tbody>
    <tr>
	  <td data-label="Language: &nbsp; "><a href="https://github.com/census-instrumentation/opencensus-cpp">C++</a></td>
	  <td data-label="Tracing: &nbsp; ">Supported</td>
	  <td data-label="Stats: &nbsp; ">Supported</td>
	</tr>
	<tr>
	  <td scope="row" data-label="Language: &nbsp; "><a href="https://github.com/census-instrumentation/opencensus-erlang">Erlang</a></td>
	  <td data-label="Tracing: &nbsp; ">Supported</td>
	  <td data-label="Stats: &nbsp; ">Supported</td>
	</tr>
	<tr>
	  <td scope="row" data-label="Language: &nbsp; "><a href="https://github.com/census-instrumentation/opencensus-go">Go</a></td>
	  <td data-label="Tracing: &nbsp; ">Supported</td>
	  <td data-label="Stats: &nbsp; ">Supported</td>
	</tr>
	<tr>
	  <td scope="row" data-label="Language: &nbsp; "><a href="https://github.com/census-instrumentation/opencensus-java">Java (JVM, OpenJDK, Android)</a></td>
	  <td data-label="Tracing: &nbsp; ">Supported</td>
	  <td data-label="Stats: &nbsp; ">Supported</td>
	</tr>
	<tr>
	  <td scope="row" data-label="Language: &nbsp; "><a href="https://github.com/census-instrumentation/opencensus-node">Node.js</a></td>
	  <td data-label="Tracing: &nbsp; ">Supported</td>
	  <td data-label="Stats: &nbsp; ">In Progress</td>
	</tr>
	<tr>
	  <td scope="row" data-label="Language: &nbsp; "><a href="https://github.com/census-instrumentation/opencensus-php">PHP</a></td>
	  <td data-label="Tracing: &nbsp; ">Supported</td>
	  <td data-label="Stats: &nbsp; ">Planned</td>
	</tr>
	<tr>
	  <td scope="row" data-label="Language: &nbsp; "><a href="https://github.com/census-instrumentation/opencensus-python">Python</a></td>
	  <td data-label="Tracing: &nbsp; ">Supported</td>
	  <td data-label="Stats: &nbsp; ">In Progress</td>
	</tr>
	<tr>
	  <td scope="row" data-label="Language: &nbsp; "><a href="https://github.com/census-instrumentation/opencensus-ruby">Ruby</a></td>
	  <td data-label="Tracing: &nbsp; ">Supported</td>
	  <td data-label="Stats: &nbsp; ">Planned</td>
	</tr>
  </tbody>
</table>