{{ partial "nav" . }}
<!-- ====== SPANNER START  ======  -->
<section class="sections lang" id="lang">            
	<div class="container">
		<div class="row">   
			<!-- GLOSSARY CONTENT START -->
			<div class="title">

				<!-- CENTER COULMN -->
				<div class="col-md-12 box" style="margin:0px 24px 0px 5px;">
				<h1>Cloud Spanner</h1>
					{{.Inner}}
			   </div>
				<!-- END CENTER COULMN -->
				<!-- GLOSSARY CONTENT END -->
			</div>
		</div>
	</div>
</section>
<!-- ====== GLOSSARY END  ======  -->
{{ partial "footer.html" . }}