<div class="container">
	<div class="row" style="margin:0 0 10px 10px">
		<div class="col-sm-12 box" style="display:flex;flex-wrap:wrap;justify-content:space-between;">
			<div class="col-sm-3 client-card">
			  <img src="/img/partners/google_logo.svg" alt="Google logo" width="108" height="auto">
			</div>
			<div class="col-sm-3 client-card">
			  <img src="/img/partners/datadog_logo.svg" alt="Datadog logo" width="108" height="auto">
			</div>
			<div class="col-sm-3 client-card">
			  <img src="/img/partners/orijtech_logo.png" alt="Orijtech Logo" width="108" height="auto">
			</div>
			<div class="col-sm-3 client-card">
			  <img src="/img/partners/signalFx_logo.svg" alt="SignalFX logo" width="108" height="auto">
			</div>
		</div>
	</div>
	<div class="row" style="margin:0 0 0 10px">
		<div class="col-sm-12 box" style="display:flex;flex-wrap:wrap;justify-content:space-between;">
			<div class="col-sm-3 client-card">
			  <img src="/img/partners/cesar_logo.svg" alt="Cesar logo" width="108" height="auto">
			</div>
			<div class="col-sm-3 client-card">
			  <img src="/img/partners/creative_few_logo.svg" alt="The Creative Few logo" width="108" height="auto">
			</div>
			<div class="col-sm-3 client-card">
			  <img src="/img/partners/microsoft_logo.svg" alt="Microsoft logo" width="108" height="auto">
			</div>
			<div class="col-sm-3 client-card">
			  <img src="/img/partners/jaeger_logo.svg" alt="Jaeger logo" width="108" height="auto">
			</div>
		</div>
	</div>
  <div class="row" style="margin:0 0 0 10px">
		<div class="col-sm-12 box" style="display:flex;flex-wrap:wrap;justify-content:space-between;">
			<div class="col-sm-3 client-card">
			  <img src="/img/partners/zipkin_logo.svg" alt="Zipkin logo" width="108" height="auto">
			</div>
			<div class="col-sm-3 client-card">
			  <img src="/img/partners/solarwinds_logo.svg" alt="Solarwinds logo" width="108" height="auto">
			</div>
			<div class="col-sm-3 client-card">
			  <img src="/img/partners/stackdriver_logo.svg" alt="Stackdriver logo" width="108" height="auto">
			</div>
			<div class="col-sm-3 client-card">
			  <img src="/img/partners/prometheus_logo.svg" alt="Prometheus logo" width="108" height="auto">
			</div>
		</div>
	</div>
  <div class="row" style="margin:0 0 0 10px">
		<div class="col-sm-12 box" style="display:flex;flex-wrap:wrap;justify-content:space-between;">
			<div class="col-sm-3 client-card">
			  <img src="/img/partners/instana_logo.svg" alt="Instana logo" width="108" height="auto">
			</div>
		</div>
	</div>
</div>
