<div class="quickstart-list-header">
  <img src="/images/gopher.png">
  <h5>Go</h5>
</div>
<a
  class="btn btn-info"
  onclick="location.href='go/metrics'"
>
Metrics
</a>
<a
  class="btn btn-info"
  onclick="location.href='go/tracing'"
>
Tracing
</a>

<div class="quickstart-list-header">
  <img src="/images/java.png">
  <h5>Java</h5>
</div>
<a
  class="btn btn-info"
  onclick="location.href='java/metrics'"
>
Metrics
</a>
<a
  class="btn btn-info"
  onclick="location.href='java/tracing'"
>
Tracing
</a>

<div class="quickstart-list-header">
  <img src="/img/python-logo.png">
  <h5>Python</h5>
</div>
<a
  class="btn btn-info"
  onclick="location.href='python/metrics'"
>
Metrics
</a>
<a
  class="btn btn-info"
  onclick="location.href='python/tracing'"
>
Tracing
</a>
